/* Write your CSS here */
.todo-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.title {
  font-family: 'Roboto';
  font-size: 25px;
  color: #000000;
}
.delete-btn {
  background-color: #ffffff;
  color: #ff0b37;
  border-radius: 5px;
  border-width: 2px;
  border-color: #ff0b37;
  width: 90px;
  height: 30px;
}
